@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошъл в AutoCare!</h1>
    <p class="lead">Тук можеш да следиш обслужването на своите автомобили</p>
</div>
