@using AutoCare.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AutoCare.ViewModels.BeltServiceVM

<h2>Добави запис (ремъци и ролки)</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <!-- Скрито поле: CarId идва автоматично от URL-а -->
    <input type="hidden" asp-for="CarId" />

    <div class="mb-3">
        <label asp-for="ServiceDate" class="form-label"></label>
        <input asp-for="ServiceDate" type="date" class="form-control" asp-format="{0:yyyy-MM-dd} />
        <span asp-validation-for="ServiceDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="OdometerKm" class="form-label"></label>
        <input asp-for="OdometerKm" class="form-control" />
        <span asp-validation-for="OdometerKm" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="BeltsPumpBrand" class="form-label"></label>
        <input asp-for="BeltsPumpBrand" class="form-control" />
        <span asp-validation-for="BeltsPumpBrand" class="text-danger"></span>
    </div>

    <div class="text-center mt-4">
        <a asp-controller="Cars" asp-action="Index" class="btn btn-secondary">
            ⬅️ Назад към моите автомобили
        </a>
    </div>

    <button type="submit" class="btn btn-success">Запази</button>
</form>

<partial name="_ValidationScriptsPartial" />
