@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div class="d-flex justify-content-between align-items-center mt-3 mb-3">
    <h1 class="mb-0">Профил</h1>
    <a asp-controller="Cars" asp-action="Index" class="btn btn-secondary btn-sm">
        <i class="bi bi-arrow-left"></i> ⬅️ Назад към моите автомобили
    </a>
</div>

<h2>Настройки</h2>
<hr />

<div class="row">
    <div class="col-md-3">
        <partial name="_ManageNav" />
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
